%ul.nav
  - if user_signed_in?
    %li
      = link_to "Calendar", "/#!/"
    %li.dropdown
      = link_to "Add", "#", :class => "dropdown-toggle"
      %ul.dropdown-menu
        %li
          = link_to "Goal", "#!/goal/"
        %li
          = link_to "Role", "#!/role/"
    %li
      = link_to "Settings", "#"
%p.pull-right
  - if user_signed_in?
    Logged in as
    = link_to current_user.email, user_path
    = "/"
    = link_to "Exit", destroy_user_session_path, :method => :delete
  - else
    = link_to "Sign in", new_user_session_path
