- if !@roles.count.zero?
  %table.bordered-table.b-weekly-role-goals
    %th
      Roles
    %th
      Goals
    - @roles.each do |role|
      %tr{:class => "role-#{role.id}"}
        %td
          = role.name
        %td
          - role.goals.each do |goal|
            .b-weekly-role-goals__goal
              = link_to goal.title, "#!/goal/#{goal.id}"
- else
  You don't have any roles yet
  %p
    = link_to "Add one?", "#!/role/"