!!!
%html
  %head
    = javascript_include_tag :application
    = stylesheet_link_tag :application
    = csrf_meta_tags

%body
  .topbar
    .topbar-inner
      .container-fluid
        = link_to "Project name", "#", :class => "brand"
        %ul.nav
          %li.active
            = link_to "Home", "#"
          %li
            = link_to "Home", "#"
          %li
            = link_to "Home", "#"
        %p.pull-right
          Logged in as 
          = link_to "Email", "#"

  .container-fluid
    .sidebar
      .well
        %h5
          Sidebar
          %ul
            %li
              = link_to "Link", "#"
            %li
              = link_to "Link", "#"
            %li
              = link_to "Link", "#"
            %li
              = link_to "Link", "#"

        %h5
          Sidebar
        %ul
          %li
            = link_to "Link", "#"

        %h5
          Sidebar
        %ul
          %li
            = link_to "Link", "#"
          %li
            = link_to "Link", "#"
    .content
      .hero-unit
        %h1
          Hello, world!
        %p
          Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.

      .row
        .span6
          %h2
            Heading
          %p
            Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
        .span5
          %h2
            Heading
          %p
            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        .span5
          %h2
            Heading
          Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.

      %hr

      .row
        .span6
          %h2
            Heading
          Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
        .span5
          %h2
            Heading
          Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        .span5
          %h2
            Heading
          Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.

      %footer
        %p
          © Company 2011
