!!!
%html
  %head
    = javascript_include_tag :application
    = stylesheet_link_tag :application
    = csrf_meta_tags

%body
  .topbar
    .topbar-inner
      .container-fluid
        = link_to "Project name", root_path, :class => "brand"
        %ul.nav
          %li.active
            = link_to "Home", "#"
          %li
            = link_to "Home", "#"
          %li
            = link_to "Home", "#"
        %p.pull-right
          - if user_signed_in?
            Logged in as
            = link_to current_user.email, user_path
            = "/"
            = link_to "Exit", destroy_user_session_path, :method => :delete
          - else
            = link_to "Sign in", new_user_session_path

  .container-fluid
    .sidebar
      .well
        %h5
          Sidebar
          %ul
            %li
              = link_to "Link", "#"
            %li
              = link_to "Link", "#"
            %li
              = link_to "Link", "#"
            %li
              = link_to "Link", "#"

        %h5
          Sidebar
        %ul
          %li
            = link_to "Link", "#"

        %h5
          Sidebar
        %ul
          %li
            = link_to "Link", "#"
          %li
            = link_to "Link", "#"
    .content
      = yield

      %footer
        %p
          © Company 2011
