!!!
%html
  %head
    = javascript_include_tag :application
    = stylesheet_link_tag :application
    = csrf_meta_tags

%body
  .topbar
    .topbar-inner
      .container-fluid
        = link_to "Do it later", root_path, :class => "brand"
        = render :partial => "main/menu"
  - if user_signed_in?
    .container-fluid
      .sidebar
        = render :partial => "main/weekly_roles_goals"
      .content
        = yield
        %footer
  - else
    .content
      = yield
      %footer
    